<header>
    <div class="tb">
      <div class="td" id="logo">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="td" id="search-form">
        <form method="get" action="#">
          <input type="text" placeholder="Search Facebook">
          <button type="submit"><i class="material-icons">search</i></button>
        </form>
      </div>
      <div class="td" id="f-name-l"><span>Ramandip's facebook</span></div>
      <div class="td" id="i-links">
        <div class="tb">
          <div class="td" id="m-td">
            <div class="tb">
             
              <span class="td m-active"><i class="material-icons" (click)="signout()">SignOut</i></span>
            </div>
          </div>
          <div class="td">
            <a href="#" id="p-link">
              <img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>