<div class="post">
    <div class="tb">
      <a href="#" class="td p-p-pic"><img src="https://imagizer.imageshack.com/img923/2452/zifFKH.jpg" alt="Rajeev's profile pic"></a>
      <div class="td p-r-hdr">
        <div class="p-u-info">
          <a href="#">Rajeev Singh</a> shared a memory with <a href="#">Himalaya Singh</a>
        </div>
        <div class="p-dt">
          <i class="material-icons">calendar_today</i>
          <span>January 28, 2015</span>
        </div>
      </div>
      <div class="td p-opt"><i class="material-icons">keyboard_arrow_down</i></div>
    </div>
    <a href="#" class="p-cnt-v">
      <img src="https://imagizer.imageshack.com/img923/8568/6LwtUa.jpg">
    </a>
    <div>
      <div class="p-acts">
        <div class="p-act like"><i class="material-icons">thumb_up_alt</i><span>25</span></div>
        <div class="p-act comment"><i class="material-icons">comment</i><span>1</span></div>
        <div class="p-act share"><i class="material-icons">reply</i></div>
      </div>
    </div>
  </div>