
<!-- <div class="org" (click)="loadPhoto(users)"
 *ngFor="let user of users"  >
 
 <img src={{user.avatar}}>

    
    </div> -->



    <!-- <table class="org"  > -->
    <!-- <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Avatar</th>
            <th scope="col">Action</th>
        </tr>
   </thead> -->
      <!-- <img src={{user.avatar}}> -->

      
      <div  class="row"><ng-container *ngFor="let user of users">
        <div (click)="loadPhoto(user)" class="col" [ngClass]="selectedUser.id == user.id ? 'highlight' : ''">
          <!-- <th style="font-size:25px" scope="row">{{user.id}}</th>
          <td style="font-size:25px">{{user.first_name}}</td>
          <td style="font-size:25px">{{user.last_name}}</td>
          <td style="font-size:25px" >{{user.email}}</td> -->
          <div><img  src="{{user.avatar}}"></div>
          
          </div> </ng-container>
        </div>
     