<div id="profile-upper">
    <div id="profile-banner-image">
        <img src="http://wallpaperstock.net/abstract-multicoloured-digital-art_wallpapers_36249_852x480.jpg" alt="Banner image">
    </div>
    <div id="profile-d">
        <div id="profile-pic">
            <img src="https://ramandip-singh.pixels.com/images/artistlogos/ramandip-singh-1478920881-medium.jpg">
        </div>
        <div id="u-name">Ramandip Singh</div>
        <div class="tb" id="m-btns">
            <div class="td">
                <div class="m-btn"><i class="material-icons"></i><span>Activity log</span></div>
            </div>
            <div class="td">
                <div class="m-btn"><i class="material-icons"></i><span>Privacy</span></div>
            </div>
        </div>
        <div id="edit-profile"><i class="material-icons"></i></div>
    </div>
    <div id="black-grd"></div>
</div>
<div id="main-content">
    <div class="tb">
      <div class="td" id="l-col">
        <div class="l-cnt">
          <div class="cnt-label">
            <i class="l-i" id="l-i-i"></i>
            <span>Intro</span>
            <div class="lb-action"><i class="material-icons">edit</i></div>
          </div>
          <div id="i-box">
            <div id="intro-line">Front-end Engineer</div>
            <div id="u-occ">I love making applications with Angular.</div>
            <div id="u-loc"><i class="material-icons">location_on</i><a href="#">Washington, DC</a>, <a href="#">USA</a></div>
          </div>
        </div>
        <!-- <div class="l-cnt l-mrg">
          <div class="cnt-label">
            <i class="l-i" id="l-i-p"></i>
            <span>Photos</span>
            <div class="lb-action" id="b-i"><i class="material-icons"></i></div>
          </div> -->
          <!-- <div id="photos"  class="boxes" >
            <div class="tb" (click)="">
              <div class="tr" *ngFor="let user of users">
                <div class="td" ><img src={{user.avatar}}></div> -->
                <!-- <div class="td"><img src={{user.avatar}}></div>
                <div class="td"><img src={{user.avatar}}></div> -->
              <!-- </div> -->
              <!-- <div class="tr">
                <div class="td"></div>
                <div class="td"></div>
                <div class="td"></div>
              </div> -->
              <!-- <div class="tr">
                <div class="td"></div>
                <div class="td"></div>
                <div class="td"></div>
              </div> -->
            <!-- </div> -->
            <div class="l-cnt l-mrg">
                <div class="cnt-label">
                    <i class="l-i" id="l-i-p"></i>
                    <span>Photos</span>
                    <div class="lb-action" id="b-i"><i class="material-icons"></i></div>
                </div>
                <div>
                  <div class="tb" >
                    <div class="tr">
                      <div class="td"></div>
                        <app-photos></app-photos>
                    </div>
                </div>
              </div>
            </div>
            <div class="l-cnt l-mrg">
                <!-- <div class="cnt-label">
            <i class="l-i" id="l-i-k"></i>
            <span>Did You Know<i id="k-nm">1</i></span>
          </div> -->
                <div>
                    <div class="q-ad-c">
                        <!-- <a href="#" class="q-ad">
                <img src="https://imagizer.imageshack.com/img923/1849/4TnLy1.png">
                <span>My favorite superhero is...</span>
              </a> -->
                    </div>
                    <!-- <div class="q-ad-c">
              <a href="#" class="q-ad" id="add_q">
                <i class="material-icons">add</i>
                <span>Add Answer</span>
              </a>
            </div> -->
                </div>
            </div>
            <!-- <div id="t-box">
          <a href="#">Privacy</a> <a href="#">Terms</a> <a href="#">Advertising</a> <a href="#">Ad Choices</a> <a href="#">Cookies</a> <span id="t-more">More<i class="material-icons">arrow_drop_down</i></span>
          <div id="cpy-nt">Facebook &copy; <span id="curr-year"></span></div>
        </div> -->
        </div>
        <div class="td" id="m-col">
            <div class="m-mrg" id="p-tabs">
                <div class="tb">
                    <div class="td">
                        <div class="tb" id="p-tabs-m">
                            <div class="td active"><i class="material-icons">Timeline</i><span></span></div>
                            <div class="td"><i class="material-icons">people</i><span></span></div>
                            <div class="td"><i class="material-icons">p</i><span></span></div>
                            <div class="td"><i class="material-icons">explore</i><span></span></div>
                            <div class="td"><i class="material-icons">archive</i><span></span></div>
                        </div>
                    </div>
                    <div class="td" id="p-tab-m"><i class="material-icons"></i></div>
                </div>
            </div>
            <!-- <a href="#" class="p-cnt-v">
              <img src="https://ramandip-singh.pixels.com/images/artistwebsiteimages/272559-105-1480470292.jpg">
            </a> -->
             <a href="#" class="p-cnt-v" *ngFor="let id of ids">
              <p>How does this look?</p>
              <img src="{{id}}">
            </a>
          <div>

            <!-- <tr *ngFor="let user of users">
                <th style="font-size:25px" scope="row">{{user.id}}</th>
                <td style="font-size:25px">{{user.first_name}}</td>
                <td style="font-size:25px">{{user.last_name}}</td>
                <td style="font-size:25px" >{{user.email}}</td>
                <td><img  class="p-3 mb-2 bg-light text-dark" src="{{user.avatar}}"></td> 



            </tr> -->
          </div>
            <div>
              <div class="p-acts">
                <div class="p-act like"><i class="material-icons"></i><span></span></div>
                <div class="p-act comment"><i class="material-icons"></i><span></span></div>
                <div class="p-act share"><i class="material-icons"></i></div>
              </div>
            <div class="m-mrg" id="composer">
                <div id="c-tabs-cvr">
                    <div class="tb" id="c-tabs">
                        <div class="td active"><i class="material-icons">Make Post</i><span></span></div>
                        <div class="td"><i class="material-icons">Camera</i><span></span></div>
                        <div class="td"><i class="material-icons">videocam</i><span></span></div>
                        <div class="td"><i class="material-icons">event</i><span></span></div>
                    </div>
                </div>
                <div id="c-c-main">
                    <div class="tb">
                        <div class="td" id="p-c-i"><img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg" alt="Profile pic"></div>
                        <div class="td" id="c-inp">
                            <input type="text" placeholder="What's on your mind?">
                        </div>
                    </div>
                    <div id="insert_emoji"><i class="material-icons"></i></div>
                </div>
            </div>
            <div>
                <div class="post">
                    <!-- <div class="tb">
                        <a href="#" class="td p-p-pic"><img src="https://imagizer.imageshack.com/img923/2452/zifFKH.jpg" alt="Rajeev's profile pic"></a>
                        <div class="td p-r-hdr"> -->
                            <!-- <div class="p-u-info">
                                <a href="#">Harman Singh</a> shared a memory with <a href="#">{{name | uppercase}}</a>
                             </div> -->
                            <!-- <div class="p-dt">
                                <i class="material-icons">calendar_today</i>
                                <span>January 28, 2015</span>
                            </div> -->
                        <!-- </div> -->
                        <div class="td p-opt"><i class="material-icons"></i></div>
                    </div>
                    <app-detailed-post></app-detailed-post>
                    <!-- <a href="#" class="p-cnt-v">
              <img src="https://ramandip-singh.pixels.com/images/artistwebsiteimages/272559-105-1480470292.jpg">
            </a> -->
                    <!-- <div>
            <tr *ngFor="let user of users">
              <th style="font-size:25px" scope="row">{{user.id}}</th>
            </tr>
            </div> -->
                   
                    <div>
                        <div class="p-acts">
                            <div class="p-act like"><i class="material-icons"></i><span></span></div>
                            <div class="p-act comment"><i class="material-icons"></i><span></span></div>
                            <div class="p-act share"><i class="material-icons"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loading"><i class="material-icons"></i></div>
        </div>
        <!-- <div class="td" id="r-col">
        <div id="chat-bar">
          <div id="chat-lb"><i class="material-icons"></i><span>Contacts</span></div>
          <div id="cts">
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
            </div>
            <div class="on-ct">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
            </div>
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct">
              <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
            </div>
            <div class="on-ct" id="ct-sett"><i class="material-icons">settings</i></div>
          </div>
        </div>
      </div> -->
    </div>
</div>
<div id="device-bar-2"><i class="fab fa-apple"></i></div>
